@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
    font-family: 'Roboto', sans-serif;

}
p {
    text-align: center;
}
.btncontainer {
    text-align: center;
}
button {
    padding: 5px;
    background-color: #5396e4;
    color: white;
    height: 40px;
    border-radius: 4%;
    right: 50%;
    position: center;
    bottom: 0%;
}
.bigcontainer{
    padding-top: 100px;

}

